@charset "utf-8";
/* CSS Document */

/*
  CSS generated via the Multi-level top-menuigation Plugin ... http://pixopoint.com/multi-level-top-menuigation/

  If you would like a similar menu for your own site, then please try the PixoPoint Web Development
  CSS generator for creating flyout, dropdown and horizontal slider menus ... http://pixopoint.com/suckerfish_css/


*** Main menu CSS code ***/


#nav { margin:0 auto; padding:0 15px; font-size:15px; }

.navWrap #nav ul,
.navWrap #nav li { margin:0; padding:0; list-style:none; }
.navWrap #nav ul { float:right; }
	#content-wrap .navWrap #nav ul { float:none; }
.navWrap #nav li { padding:0; list-style:none; float:left; height:40px; }

.navWrap #nav a,
.navWrap #nav a:link,
.navWrap #nav a:visited {
	padding:0 11px; 
	color:#fff; font-weight:normal; text-decoration:none;
	width:auto !important;
	text-align:center;
	display:block;
	line-height:40px;
	}
  #content-wrap .navWrap #nav a,
  #content-wrap .navWrap #nav a:link,
  #content-wrap .navWrap #nav a:visited {
	  line-height:30px;
  }
.navWrap #nav a:hover,
.navWrap #nav .current_page_item a { color:#4eb1d8; }
.navWrap #nav .current_page_item ul li a { color: #fff; }
* html .navWrap #nav a,
* html .navWrap #nav a:link,
* html .navWrap #nav a:visited {
	width:auto !important;
	}
	
* html .navWrap #nav a {
	height:auto !important;
	}
	
	.navWrap #nav li li a {
		width:auto !important;
		padding:0 31px 0 11px !important;
		text-align:left !important;
		line-height:30px !important;
		}
	
	.navWrap #nav li li a:hover {
		text-decoration:none;
		background:#222;
		}
	
.mini-site,
.navWrap #nav li {
	margin:0;
	padding:0;
	list-style:none;
	}
	.mini-site,
	.navWrap #nav ul {
		list-style: none;
		line-height: 1;
		}
	.navWrap #nav li {
		padding-bottom:0 !important;
		text-align:center;
		vertical-align:middle;
		float:left;
		}
* html .navWrap #nav li {
	display:inline;
	}
	
	.navWrap #nav li ul { /* second-level lists */
		padding-left:0;
		padding-top:0;
		position: absolute;
		margin-left:0;
		margin-top:0;
		width:225px;
		height:auto !important;
		background:#000;
		left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
		z-index:9999999999 !important;
		display:block;
		clear:both;
	}
		#content-wrap .navWrap #nav li ul {
			background:url('images/secondary-nav-bg.png') transparent repeat;
		}
	
	.navWrap #nav li ul li {
		margin:0;
		padding:0;
		height:auto !important;
		z-index:9999999999999 !important;
		float:none;
		}
		
.navWrap #nav ul ul ul ul {
	position:absolute;
	margin-top:-30px;
	margin-left:225px;
}
	
	.navWrap #nav li:hover ul, .navWrap #nav li.sfhover ul { /* lists nested under hovered list items */
		left: auto;
		z-index:9999999999999 !important;
	}
	
.navWrap #nav li:hover ul ul, .navWrap #nav li:hover ul ul ul, .navWrap #nav li.sfhover ul ul, .navWrap #nav li.sfhover ul ul ul {
	left: -999em;
	border-left:1px solid gray;
}

.navWrap #nav li:hover ul, .navWrap #nav li li:hover ul, .navWrap #nav li li li:hover ul, .navWrap #nav li.sfhover ul, .navWrap #nav li li.sfhover ul, .navWrap #nav li li li.sfhover ul {
	left: auto;
}
